@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root{
  --main-color:#a4a4a4;
  --font-color : #4a4a4a;
  --background-color : linear-gradient(to left, #00d1ff, #99c969);
  --background-color-reverse: linear-gradient(to right, #00d1ff, #99c969);
  --spot-background : #81E1A1;
  --font-color : #216728;
}
